/* Custom Styles for Strategy9 Website */

/* 
 * This file is for any custom CSS you want to add beyond Tailwind.
 * Currently, Tailwind CSS is loaded via CDN in _Layout.cshtml
 * 
 * To use this file, add the following to _Layout.cshtml <head>:
 * <link rel="stylesheet" href="~/css/site.css" />
 */

/* Example custom styles */

/* Add your custom styles below */
